@{
    ViewData["Title"] = "Homie";
}

<div class="text-center">
    <h1 class="display-4">Wazzup</h1>
    <a class="btn btn-primary" asp-controller="Artists" asp-action="Index">Artists</a>
    <a class="btn btn-primary" asp-controller="Genres" asp-action="Index">Genre</a>
    <a class="btn btn-primary" asp-controller="Songs" asp-action="Index">Songs</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
